.cute_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;

}

.ratingSystem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

textarea {
    resize: 300px;
}

.adminRole {
    margin-top: 20px;
    color: #fa0000;
}