@import 'bootstrap/dist/css/bootstrap.min.css';

body {
    background-color: #e4daed;
    display: flex;
    flex-direction: row;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    align-items: center;

}

.Create {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.custom-carousel {
    max-width: 800px;
    margin: 0 auto; 
}
.carousel-caption {
    color: black;
}


.carousel-item {
    max-width: 800px;
    max-height: 800px;
}

.carousel-item img{
    margin: 0 auto;
    max-height: 800px;
    max-width: 800px;
}

.img1 {
    display: flex;
    align-items: center;
}


.carousel-caption {
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 14px;
  }

.carousel-control-prev-icon{
    filter: invert(100%);
  }

.carousel-control-next-icon {
    filter: invert(100%);
  }
